In [3]:
import pandas as pd
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [5]:
quantitative_data = df.select_dtypes(include=('int64','float64'))
quantitative_data

   Age
0   28
1   34
2   29
3   32

In [6]:
total = quantitative_data.sum()
total

Age    123
dtype: int64